@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
    background: white;
}


table.content__table {
    --color: #1d4ed8;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    overflow: hidden;
    width: 100%;

}

.toggle-section.active {
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 2em;
}

.toggle-section {
    transition: all 0.1s;
    padding-right: 0em;
    padding-left: 0em;
    margin-top: 0em;

}

table.content__table thead tr {
    text-align: left;
}

.content__table td {
    padding: 12px 15px;
}

.content__table tbody tr {
    /* border-bottom: 1px solid #dddddd; */
}

.content__table tbody td:first-of-type, .content__table thead td:first-of-type {
    padding-left: 2em;
}

.content__table tbody td:last-of-type, .content__table thead td:last-of-type {
    padding-right: 2em;
}

/* .content__table tbody tr:nth-of-type(even) { */
/* /1*     background-color: #f3f3f3; *1/ */
/* } */

/* .content__table tbody tr:last-of-type { */
/*     /1* border-bottom: 2px solid var(--color); *1/ */
/* } */


/* ------------------ */
/* Theme Inputs */
/* ----------- */
.theme__form-controller {
    position: relative;
    background: white;
}

textarea.theme__text-field {
    padding-top: 8px;
}

.theme__text-field {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 1em;
    font-size: inherit;
}


.theme__text-field-label {
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    top: 50%;
    left: 1rem;
    background: inherit;
    padding: 0 0.5rem;
    transition: top 200ms ease-in, left 200ms ease-in,
        font-size 200ms ease-in, transform 200ms ease-in;
}

.theme__text-field:focus ~ .theme__text-field-label, 
    .theme__text-field:not(:placeholder-shown).theme__text-field:not(:focus) 
        ~.theme__text-field-label, .theme__text-field-label.active {
    transform: translateY(0);
    top: -0.5rem;
    font-size: 0.8rem;
}

.theme__text-field:focus ~ .theme__text-field-label, .theme__text-field-label.focused {
    color: var(--theme-active);
}

.theme__form-controller .react-datepicker-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
}

.theme__form-controller .react-datepicker__input-container {
    height: 100%;
}

input:read-only, input:read-only ~label{
    --color: #999;
    border-color: var(--color);
    color: var(--color);
}

input:focus:not(:read-only):not(:disabled), textarea:focus:not(:read-only):not(:disabled) {
    /* --color: var(--theme-active); */
    border-color: var(--theme-active);
}

.theme__text-field-label--select {
    /* transform: translateY(30%); */
}

.theme__select-container {
    @apply border-slate-300;
    @apply border;
}

/* ---- */
/* Hero Background */
/* ----- */

/* Vector 6 */


.curve-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #3c31dd;
}

/* #hero-background { */
/*     position: absolute; */
/*     height: 250px; */
/*     width: 100%; */
/*     bottom: 0; */
/*     text-align: center; */
/*     background: linear-gradient(285.45deg, #00D1FF 6.54%, #6F31D3 45.25%, #D3A631 90.43%); */
/* } */

/* #hero-background::before { */
/*     content: ''; */
/*     display: block; */
/*     position: absolute; */
/*     border-radius: 100% 50%; */
/*     width: 55%; */
/*     height: 100%; */
/*     transform: translate(85%, 60%); */
/*     background-color: hsl(216, 21%, 16%); */
/* } */

/* #hero-background::after { */
/*     content: ''; */
/*     display: block; */
/*     position: absolute; */
/*     border-radius: 100% 50%; */
/*     width: 55%; */
/*     height: 100%; */
/*     background: linear-gradient(285.45deg, #00D1FF 6.54%, #6F31D3 45.25%, #D3A631 90.43%); */
/*     transform: translate(-4%, 40%); */
/*     z-index: -1; */
/* } */

#hero {
    min-height: 90vh;
    min-height: 1000px;
    position: relative;
    padding-top: 3em;
}

#footer {
    background: linear-gradient(285.45deg, #00D1FF66 6.54%, #6F31D366 45.25%, #D3A63166 90.43%);
    box-shadow: 0px -5px 21px rgba(0, 0, 0, 0.37);
    padding-left: 10%;
    padding-right: 10%;
    z-index: 5;
    margin-top: 3em;
}

.footer__img {
    width: 2em;
    height: 2em;
    fill: white;
    margin: 0 0.5em;
}

/* #footer > div { */
/*     paddind */
/* } */


#hero-background {
    position: absolute;
    /* width: 1759px; */
    /* height: 842px; */
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    /* left: 1570.33px; */
    /* top: -250px; */

    /* Degradado 2 */

    /* background: linear-gradient(285.45deg, #00D1FF 6.54%, #6F31D3 45.25%, #D3A631 90.43%); */
    /* background: linear-gradient(285.45deg, #D3A631  6.54%, #6F31D3 45.25%, #00D1FF  90.43%); */
    background: linear-gradient(206deg, #D3A631 6.54%, #6F31D3 45.25%, #00D1FF 90.43%);
    opacity: 0.6;
    /* transform: matrix(-1, 0.04, 0.04, 1, 0, 0); */
    /* clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.98%, 2% 64.93%, 3% 64.85%, 4% 64.73%, 5% 64.58%, 6% 64.39%, 7% 64.17%, 8% 63.92%, 9% 63.64%, 10% 63.33%, 11% 62.99%, 12% 62.62%, 13% 62.22%, 14% 61.79%, 15% 61.33%, 16% 60.85%, 17% 60.35%, 18% 59.82%, 19% 59.27%, 20% 58.70%, 21% 58.10%, 22% 57.49%, 23% 56.87%, 24% 56.22%, 25% 55.57%, 26% 54.90%, 27% 54.22%, 28% 53.53%, 29% 52.83%, 30% 52.13%, 31% 51.42%, 32% 50.70%, 33% 49.99%, 34% 49.28%, 35% 48.56%, 36% 47.86%, 37% 47.15%, 38% 46.45%, 39% 45.76%, 40% 45.08%, 41% 44.41%, 42% 43.76%, 43% 43.12%, 44% 42.49%, 45% 41.88%, 46% 41.29%, 47% 40.72%, 48% 40.17%, 49% 39.64%, 50% 39.13%, 51% 38.65%, 52% 38.20%, 53% 37.77%, 54% 37.37%, 55% 37.00%, 56% 36.66%, 57% 36.35%, 58% 36.07%, 59% 35.82%, 60% 35.60%, 61% 35.42%, 62% 35.27%, 63% 35.15%, 64% 35.07%, 65% 35.02%, 66% 35.00%, 67% 35.02%, 68% 35.07%, 69% 35.16%, 70% 35.27%, 71% 35.43%, 72% 35.61%, 73% 35.83%, 74% 36.08%, 75% 36.36%, 76% 36.68%, 77% 37.02%, 78% 37.39%, 79% 37.79%, 80% 38.22%, 81% 38.68%, 82% 39.16%, 83% 39.67%, 84% 40.20%, 85% 40.75%, 86% 41.32%, 87% 41.91%, 88% 42.52%, 89% 43.15%, 90% 43.79%, 91% 44.45%, 92% 45.12%, 93% 45.80%, 94% 46.49%, 95% 47.19%, 96% 47.89%, 97% 48.60%, 98% 49.31%, 99% 50.03%, 100% 50.74%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 49.62%, 1% 49.61%, 2% 49.57%, 3% 49.50%, 4% 49.41%, 5% 49.30%, 6% 49.15%, 7% 48.99%, 8% 48.80%, 9% 48.58%, 10% 48.34%, 11% 48.08%, 12% 47.80%, 13% 47.49%, 14% 47.17%, 15% 46.82%, 16% 46.45%, 17% 46.07%, 18% 45.66%, 19% 45.24%, 20% 44.81%, 21% 44.35%, 22% 43.89%, 23% 43.41%, 24% 42.92%, 25% 42.42%, 26% 41.91%, 27% 41.39%, 28% 40.86%, 29% 40.33%, 30% 39.79%, 31% 39.25%, 32% 38.71%, 33% 38.16%, 34% 37.62%, 35% 37.07%, 36% 36.53%, 37% 35.99%, 38% 35.46%, 39% 34.93%, 40% 34.41%, 41% 33.90%, 42% 33.40%, 43% 32.91%, 44% 32.43%, 45% 31.97%, 46% 31.52%, 47% 31.08%, 48% 30.66%, 49% 30.26%, 50% 29.87%, 51% 29.51%, 52% 29.16%, 53% 28.83%, 54% 28.53%, 55% 28.25%, 56% 27.98%, 57% 27.75%, 58% 27.53%, 59% 27.34%, 60% 27.18%, 61% 27.04%, 62% 26.92%, 63% 26.83%, 64% 26.77%, 65% 26.73%, 66% 26.72%, 67% 26.73%, 68% 26.77%, 69% 26.84%, 70% 26.93%, 71% 27.04%, 72% 27.19%, 73% 27.35%, 74% 27.54%, 75% 27.76%, 76% 28.00%, 77% 28.26%, 78% 28.54%, 79% 28.85%, 80% 29.18%, 81% 29.53%, 82% 29.89%, 83% 30.28%, 84% 30.68%, 85% 31.10%, 86% 31.54%, 87% 31.99%, 88% 32.46%, 89% 32.94%, 90% 33.43%, 91% 33.93%, 92% 34.44%, 93% 34.96%, 94% 35.49%, 95% 36.02%, 96% 36.56%, 97% 37.10%, 98% 37.64%, 99% 38.19%, 100% 38.73%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 23.13%, 1% 23.13%, 2% 23.11%, 3% 23.08%, 4% 23.04%, 5% 22.98%, 6% 22.92%, 7% 22.84%, 8% 22.75%, 9% 22.65%, 10% 22.54%, 11% 22.42%, 12% 22.28%, 13% 22.14%, 14% 21.99%, 15% 21.83%, 16% 21.66%, 17% 21.48%, 18% 21.29%, 19% 21.09%, 20% 20.89%, 21% 20.68%, 22% 20.46%, 23% 20.24%, 24% 20.01%, 25% 19.78%, 26% 19.54%, 27% 19.29%, 28% 19.05%, 29% 18.80%, 30% 18.55%, 31% 18.30%, 32% 18.04%, 33% 17.79%, 34% 17.54%, 35% 17.28%, 36% 17.03%, 37% 16.78%, 38% 16.53%, 39% 16.29%, 40% 16.04%, 41% 15.81%, 42% 15.57%, 43% 15.34%, 44% 15.12%, 45% 14.90%, 46% 14.69%, 47% 14.49%, 48% 14.29%, 49% 14.11%, 50% 13.93%, 51% 13.76%, 52% 13.59%, 53% 13.44%, 54% 13.30%, 55% 13.17%, 56% 13.05%, 57% 12.94%, 58% 12.84%, 59% 12.75%, 60% 12.67%, 61% 12.60%, 62% 12.55%, 63% 12.51%, 64% 12.48%, 65% 12.46%, 66% 12.46%, 67% 12.46%, 68% 12.48%, 69% 12.51%, 70% 12.55%, 71% 12.61%, 72% 12.67%, 73% 12.75%, 74% 12.84%, 75% 12.94%, 76% 13.05%, 77% 13.17%, 78% 13.31%, 79% 13.45%, 80% 13.60%, 81% 13.76%, 82% 13.94%, 83% 14.12%, 84% 14.30%, 85% 14.50%, 86% 14.70%, 87% 14.92%, 88% 15.13%, 89% 15.36%, 90% 15.58%, 91% 15.82%, 92% 16.06%, 93% 16.30%, 94% 16.54%, 95% 16.79%, 96% 17.04%, 97% 17.30%, 98% 17.55%, 99% 17.80%, 100% 18.06%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 130.00%, 1% 129.97%, 2% 129.86%, 3% 129.69%, 4% 129.46%, 5% 129.15%, 6% 128.78%, 7% 128.35%, 8% 127.85%, 9% 127.29%, 10% 126.66%, 11% 125.98%, 12% 125.23%, 13% 124.43%, 14% 123.58%, 15% 122.67%, 16% 121.71%, 17% 120.70%, 18% 119.64%, 19% 118.54%, 20% 117.39%, 21% 116.21%, 22% 114.99%, 23% 113.74%, 24% 112.45%, 25% 111.14%, 26% 109.80%, 27% 108.44%, 28% 107.06%, 29% 105.66%, 30% 104.25%, 31% 102.83%, 32% 101.41%, 33% 99.98%, 34% 98.55%, 35% 97.13%, 36% 95.71%, 37% 94.30%, 38% 92.91%, 39% 91.53%, 40% 90.17%, 41% 88.83%, 42% 87.52%, 43% 86.23%, 44% 84.98%, 45% 83.76%, 46% 82.58%, 47% 81.43%, 48% 80.33%, 49% 79.28%, 50% 78.27%, 51% 77.31%, 52% 76.40%, 53% 75.55%, 54% 74.75%, 55% 74.00%, 56% 73.32%, 57% 72.70%, 58% 72.14%, 59% 71.64%, 60% 71.21%, 61% 70.84%, 62% 70.54%, 63% 70.30%, 64% 70.13%, 65% 70.03%, 66% 70.00%, 67% 70.04%, 68% 70.14%, 69% 70.31%, 70% 70.55%, 71% 70.86%, 72% 71.23%, 73% 71.66%, 74% 72.16%, 75% 72.73%, 76% 73.35%, 77% 74.04%, 78% 74.79%, 79% 75.59%, 80% 76.45%, 81% 77.36%, 82% 78.32%, 83% 79.33%, 84% 80.39%, 85% 81.49%, 86% 82.64%, 87% 83.82%, 88% 85.04%, 89% 86.30%, 90% 87.58%, 91% 88.90%, 92% 90.24%, 93% 91.60%, 94% 92.98%, 95% 94.38%, 96% 95.79%, 97% 97.20%, 98% 98.63%, 99% 100.06%, 100% 101.48%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 17.00%, 1% 16.99%, 2% 16.96%, 3% 16.92%, 4% 16.86%, 5% 16.77%, 6% 16.68%, 7% 16.56%, 8% 16.43%, 9% 16.28%, 10% 16.11%, 11% 15.93%, 12% 15.73%, 13% 15.52%, 14% 15.29%, 15% 15.04%, 16% 14.79%, 17% 14.52%, 18% 14.24%, 19% 13.94%, 20% 13.64%, 21% 13.32%, 22% 13.00%, 23% 12.66%, 24% 12.32%, 25% 11.97%, 26% 11.61%, 27% 11.25%, 28% 10.88%, 29% 10.51%, 30% 10.13%, 31% 9.76%, 32% 9.38%, 33% 8.99%, 34% 8.61%, 35% 8.23%, 36% 7.86%, 37% 7.48%, 38% 7.11%, 39% 6.74%, 40% 6.38%, 41% 6.02%, 42% 5.67%, 43% 5.33%, 44% 4.99%, 45% 4.67%, 46% 4.35%, 47% 4.05%, 48% 3.76%, 49% 3.47%, 50% 3.20%, 51% 2.95%, 52% 2.71%, 53% 2.48%, 54% 2.27%, 55% 2.07%, 56% 1.89%, 57% 1.72%, 58% 1.57%, 59% 1.44%, 60% 1.32%, 61% 1.22%, 62% 1.14%, 63% 1.08%, 64% 1.04%, 65% 1.01%, 66% 1.00%, 67% 1.01%, 68% 1.04%, 69% 1.08%, 70% 1.15%, 71% 1.23%, 72% 1.33%, 73% 1.44%, 74% 1.58%, 75% 1.73%, 76% 1.89%, 77% 2.08%, 78% 2.28%, 79% 2.49%, 80% 2.72%, 81% 2.96%, 82% 3.22%, 83% 3.49%, 84% 3.77%, 85% 4.06%, 86% 4.37%, 87% 4.69%, 88% 5.01%, 89% 5.35%, 90% 5.69%, 91% 6.04%, 92% 6.40%, 93% 6.76%, 94% 7.13%, 95% 7.50%, 96% 7.88%, 97% 8.25%, 98% 8.63%, 99% 9.02%, 100% 9.40%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 98.00%, 1% 97.99%, 2% 97.96%, 3% 97.92%, 4% 97.86%, 5% 97.77%, 6% 97.68%, 7% 97.56%, 8% 97.43%, 9% 97.28%, 10% 97.11%, 11% 96.93%, 12% 96.73%, 13% 96.52%, 14% 96.29%, 15% 96.04%, 16% 95.79%, 17% 95.52%, 18% 95.24%, 19% 94.94%, 20% 94.64%, 21% 94.32%, 22% 94.00%, 23% 93.66%, 24% 93.32%, 25% 92.97%, 26% 92.61%, 27% 92.25%, 28% 91.88%, 29% 91.51%, 30% 91.13%, 31% 90.76%, 32% 90.38%, 33% 89.99%, 34% 89.61%, 35% 89.23%, 36% 88.86%, 37% 88.48%, 38% 88.11%, 39% 87.74%, 40% 87.38%, 41% 87.02%, 42% 86.67%, 43% 86.33%, 44% 85.99%, 45% 85.67%, 46% 85.35%, 47% 85.05%, 48% 84.76%, 49% 84.47%, 50% 84.20%, 51% 83.95%, 52% 83.71%, 53% 83.48%, 54% 83.27%, 55% 83.07%, 56% 82.89%, 57% 82.72%, 58% 82.57%, 59% 82.44%, 60% 82.32%, 61% 82.22%, 62% 82.14%, 63% 82.08%, 64% 82.04%, 65% 82.01%, 66% 82.00%, 67% 82.01%, 68% 82.04%, 69% 82.08%, 70% 82.15%, 71% 82.23%, 72% 82.33%, 73% 82.44%, 74% 82.58%, 75% 82.73%, 76% 82.89%, 77% 83.08%, 78% 83.28%, 79% 83.49%, 80% 83.72%, 81% 83.96%, 82% 84.22%, 83% 84.49%, 84% 84.77%, 85% 85.06%, 86% 85.37%, 87% 85.69%, 88% 86.01%, 89% 86.35%, 90% 86.69%, 91% 87.04%, 92% 87.40%, 93% 87.76%, 94% 88.13%, 95% 88.50%, 96% 88.88%, 97% 89.25%, 98% 89.63%, 99% 90.02%, 100% 90.40%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 93.00%, 1% 92.98%, 2% 92.94%, 3% 92.86%, 4% 92.76%, 5% 92.63%, 6% 92.46%, 7% 92.27%, 8% 92.05%, 9% 91.80%, 10% 91.52%, 11% 91.21%, 12% 90.87%, 13% 90.51%, 14% 90.12%, 15% 89.71%, 16% 89.27%, 17% 88.81%, 18% 88.32%, 19% 87.81%, 20% 87.27%, 21% 86.72%, 22% 86.14%, 23% 85.54%, 24% 84.93%, 25% 84.29%, 26% 83.64%, 27% 82.97%, 28% 82.28%, 29% 81.58%, 30% 80.87%, 31% 80.15%, 32% 79.41%, 33% 78.66%, 34% 77.90%, 35% 77.14%, 36% 76.36%, 37% 75.58%, 38% 74.80%, 39% 74.01%, 40% 73.22%, 41% 72.42%, 42% 71.63%, 43% 70.83%, 44% 70.04%, 45% 69.25%, 46% 68.47%, 47% 67.69%, 48% 66.91%, 49% 66.15%, 50% 65.39%, 51% 64.64%, 52% 63.90%, 53% 63.17%, 54% 62.46%, 55% 61.76%, 56% 61.07%, 57% 60.40%, 58% 59.75%, 59% 59.11%, 60% 58.50%, 61% 57.90%, 62% 57.32%, 63% 56.76%, 64% 56.23%, 65% 55.71%, 66% 55.22%, 67% 54.76%, 68% 54.32%, 69% 53.90%, 70% 53.51%, 71% 53.15%, 72% 52.81%, 73% 52.50%, 74% 52.22%, 75% 51.97%, 76% 51.74%, 77% 51.55%, 78% 51.38%, 79% 51.25%, 80% 51.14%, 81% 51.06%, 82% 51.02%, 83% 51.00%, 84% 51.01%, 85% 51.06%, 86% 51.13%, 87% 51.23%, 88% 51.36%, 89% 51.53%, 90% 51.72%, 91% 51.94%, 92% 52.19%, 93% 52.47%, 94% 52.77%, 95% 53.10%, 96% 53.46%, 97% 53.85%, 98% 54.26%, 99% 54.70%, 100% 55.16%); */
clip-path: polygon(100% 0%, 0% 0% , 0% 82.00%, 1% 81.99%, 2% 81.97%, 3% 81.94%, 4% 81.89%, 5% 81.82%, 6% 81.74%, 7% 81.65%, 8% 81.55%, 9% 81.43%, 10% 81.29%, 11% 81.15%, 12% 80.99%, 13% 80.82%, 14% 80.63%, 15% 80.43%, 16% 80.22%, 17% 80.00%, 18% 79.77%, 19% 79.53%, 20% 79.27%, 21% 79.01%, 22% 78.73%, 23% 78.45%, 24% 78.16%, 25% 77.85%, 26% 77.54%, 27% 77.22%, 28% 76.90%, 29% 76.56%, 30% 76.22%, 31% 75.88%, 32% 75.53%, 33% 75.17%, 34% 74.81%, 35% 74.45%, 36% 74.08%, 37% 73.71%, 38% 73.33%, 39% 72.96%, 40% 72.58%, 41% 72.20%, 42% 71.82%, 43% 71.45%, 44% 71.07%, 45% 70.69%, 46% 70.32%, 47% 69.95%, 48% 69.58%, 49% 69.21%, 50% 68.85%, 51% 68.50%, 52% 68.14%, 53% 67.80%, 54% 67.46%, 55% 67.12%, 56% 66.80%, 57% 66.48%, 58% 66.17%, 59% 65.86%, 60% 65.57%, 61% 65.28%, 62% 65.01%, 63% 64.74%, 64% 64.49%, 65% 64.24%, 66% 64.01%, 67% 63.79%, 68% 63.58%, 69% 63.38%, 70% 63.20%, 71% 63.02%, 72% 62.86%, 73% 62.72%, 74% 62.58%, 75% 62.46%, 76% 62.35%, 77% 62.26%, 78% 62.18%, 79% 62.12%, 80% 62.07%, 81% 62.03%, 82% 62.01%, 83% 62.00%, 84% 62.01%, 85% 62.03%, 86% 62.06%, 87% 62.11%, 88% 62.17%, 89% 62.25%, 90% 62.34%, 91% 62.45%, 92% 62.57%, 93% 62.70%, 94% 62.84%, 95% 63.00%, 96% 63.17%, 97% 63.36%, 98% 63.55%, 99% 63.76%, 100% 63.98%);
/* clip-path: polygon(100% 0%, 0% 0% , 0% 115.49%, 1% 115.48%, 2% 115.45%, 3% 115.40%, 4% 115.33%, 5% 115.24%, 6% 115.13%, 7% 115.00%, 8% 114.85%, 9% 114.68%, 10% 114.50%, 11% 114.29%, 12% 114.07%, 13% 113.82%, 14% 113.56%, 15% 113.29%, 16% 112.99%, 17% 112.68%, 18% 112.35%, 19% 112.01%, 20% 111.65%, 21% 111.28%, 22% 110.89%, 23% 110.49%, 24% 110.08%, 25% 109.65%, 26% 109.21%, 27% 108.77%, 28% 108.31%, 29% 107.84%, 30% 107.36%, 31% 106.87%, 32% 106.38%, 33% 105.87%, 34% 105.37%, 35% 104.85%, 36% 104.33%, 37% 103.81%, 38% 103.28%, 39% 102.76%, 40% 102.22%, 41% 101.69%, 42% 101.16%, 43% 100.63%, 44% 100.10%, 45% 99.57%, 46% 99.04%, 47% 98.52%, 48% 98.00%, 49% 97.48%, 50% 96.97%, 51% 96.47%, 52% 95.98%, 53% 95.49%, 54% 95.01%, 55% 94.54%, 56% 94.08%, 57% 93.63%, 58% 93.19%, 59% 92.77%, 60% 92.35%, 61% 91.95%, 62% 91.56%, 63% 91.19%, 64% 90.83%, 65% 90.49%, 66% 90.16%, 67% 89.84%, 68% 89.55%, 69% 89.27%, 70% 89.01%, 71% 88.76%, 72% 88.54%, 73% 88.33%, 74% 88.14%, 75% 87.97%, 76% 87.82%, 77% 87.69%, 78% 87.58%, 79% 87.49%, 80% 87.42%, 81% 87.37%, 82% 87.34%, 83% 87.32%, 84% 87.33%, 85% 87.36%, 86% 87.41%, 87% 87.48%, 88% 87.57%, 89% 87.68%, 90% 87.81%, 91% 87.95%, 92% 88.12%, 93% 88.31%, 94% 88.51%, 95% 88.73%, 96% 88.98%, 97% 89.24%, 98% 89.51%, 99% 89.81%, 100% 90.12%); */

}

@media only screen and (max-width: 640px) {
    #hero-background {
        height: 125%;
    }

    .hero__img {
        max-width: unset;
        width: 75vw;
    }
}

#nav {
    transform: translateX(-50%);
}

#nav-mobile, #nav {
    z-index: 3;
    transition: all 0.3s;
}

#nav.active,  #nav-mobile.active {
    background-color: white;
    box-shadow: 0 3px 6px #000A;
}

.nav__link {
    cursor: pointer;
    position: relative;
    height: 100%;
}

.nav__link.active {
    font-weight: bold;
}

.nav__link.active::after {
    content: '';
    bottom: -0.5em;
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(285.45deg, #00D1FF 6.54%, #6F31D3 45.25%, #D3A631 90.43%);
    height: 2px;
}

.carousel__wrapper {
    overflow-x: hidden;
    border: 1px solid red;
}

.carousel__body {
    border: 1px solid green;
}

table.c__table td, table.c__table th {
    padding: 1em;

}


@font-face {
    font-family: 'suisse-antique';
    src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Antique.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'suisse-antique';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-AntiqueItalic.otf);
    font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Black.otf);
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-BlackItalic.otf);
    font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Bold.otf);
    font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-BoldItalic.otf);
    font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Light.otf);
    font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-LightItalic.otf);
    font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Medium.otf);
    font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-MediumItalic.otf);
    font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Regular.otf);
    font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-RegularItalic.otf);
    font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-Thin.otf);
    font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-ThinItalic.otf);
    font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-UltraLight.otf);
    font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'suisse';
	src: url(/assets/fonts/SUISSE_BP_SANS/SuisseBPIntl-UltraLightItalic.otf);
    font-weight: 100;
	font-style: italic;
}

body {
    font-family: 'suisse'
}
